{% extends 'base.html' %}

{% block content %}
        <section>
        <div class="container">
            <div class="row">
                {% for item in banners %}
                    <div class="col-xs-12 col-sm-6">
                        <h2>{{ item.title }}</h2>
                        <div><img src="{{ item.photo.url }}" class="img-fluid" alt="Responsive image"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

        <section>
        <h1>Специальные предложения</h1>
        <div class="container">
            <div class="row">
                {% for item in special_categories %}
                    <div class="col-xs-12 col-sm-6">
                        <h3>{{ item.title }}</h3>
                        {% for dish in item.dishes %}
                            <div>
                                <div><h5>{{ dish.title }}</h5></div>
                                <div><img src="{{ dish.photo.url }}" class="img-fluid" alt="Responsive image"></div>
                                <div><p>{{ dish.description }}</p></div>
                                <div><p>{{ dish.price }} &#8372;</p></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

        <section>
        <h1>Меню</h1>
        <div class="container">
            <div class="row">
                {% for item in categories %}
                    <div class="col-xs-12 col-sm-6">
                        <h3>{{ item.title }}</h3>
                        {% for dish in item.dishes %}
                            <div>
                                <div><h5>{{ dish.title }}</h5></div>
                                <div><img src="{{ dish.photo.url }}" class="img-fluid" alt="Responsive image"></div>
                                <div><p>{{ dish.description }}</p></div>
                                <div><p>{{ dish.price }} &#8372;</p></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

        <section>
        <h1>Події та заходи</h1>
        <div class="container">
            <div class="row">
                {% for item in events %}
                    <div class="col-xs-12 col-sm-6">
                        <h3>{{ item.title }}</h3>
                        <div><h5>{{ item.event_date }}</h5></div>
                        <div><h5>{{ item.event_time }}</h5></div>
                        <div><img src="{{ item.photo.url }}" class="img-fluid" alt="Responsive image"></div>
                        <div><p>{{ item.description }}</p></div>
                        <div><p>{{ item.price }} &#8372;</p></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}